		@media only screen and (max-width: 1000px){
					.header_bottom {
			background-color: #ffffff;
			}
							.header_bottom,
			nav.mobile_menu{
			background-color: #ffffff !important;
			}
									.content .container .container_inner.default_template_holder,
			.content .container .container_inner.page_container_inner {
			padding-top:30px !important; /*important because of the inline style on page*/
			}
				}
		@media only screen and (min-width: 480px) and (max-width: 768px){

					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
						}
		@media only screen and (max-width: 768px){
					h1, h1 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title {
			font-size: 36px; 			line-height: 42px; 						}
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 32px; 			line-height: 36px; 						}
		
					h3, h3 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
			font-size: 27px; 			line-height: 32px; 						}
		
					h4, h4 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			font-size: 24px; 			line-height: 28px; 						}
		
					h5, h5 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title {
			font-size: 18px; 			line-height: 22px; 						}
		
					h6, h6 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h6.elementor-heading-title {
			font-size: 18px; 			line-height: 22px; 						}
		
		
		
		
		
					.title.title_size_small h1 {
			font-size: 30px; 						}
		
					.title.title_size_medium h1 {
			font-size: 32px; 						}
		
					.title.title_size_large h1 {
			font-size: 36px!important; 						}
		
		}
		@media only screen and (max-width: 600px) {
					h1, h1 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title {
			font-size: 32px; 			line-height: 36px; 						}
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 27px; 			line-height: 31px; 						}
		
					h3, h3 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h3.elementor-heading-title {
			font-size: 24px; 			line-height: 28px; 						}
		
					h4, h4 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h4.elementor-heading-title {
			font-size: 18px; 			line-height: 22px; 						}
		
					h5, h5 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h5.elementor-heading-title {
			font-size: 18px; 			line-height: 22px; 						}
		
		
		
		
					.title.title_size_small h1 {
			font-size: 24px; 						}
		
					.title.title_size_medium h1 {
			font-size: 27px; 						}
		
					.title.title_size_large h1 {
			font-size: 32px!important; 						}
				}
		@media only screen and (max-width: 480px){

					section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
			}
		
				
				}
		
		
	